<!-- FOOTER START -->
<footer>
    <div class="b-footer__brand">
        <i class="icon">
            <svg viewBox="0 0 21.94 14.23">
                <path class="cls-1" d="M7.1,8.84H0V5.39H7.1Z" />
                <path class="cls-1" d="M21.94,8.93,9.26,14.23V10.37l8.42-3.24L9.26,3.88V0L21.94,5.28Z" />
            </svg>
        </i>
    </div>
    <div class="b-footer__cards">
        <div class="b-footer__card">
            <h3>Share in facebook</h3>
            <p>Did you enjoy this website?, Click Share now to share this free web tool with your friends in facebook.</p>
            <a href="https://www.facebook.com/sharer.php?u=https://www.facebook.com/pictotext" id="shareButton" target="_blank">
                <i class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.264" height="22.796" viewBox="0 0 12.264 22.796">
                        <path id="Icon_zocial-facebook" data-name="Icon zocial-facebook" d="M13.257,12.241V7.888h3.511V5.7a5.729,5.729,0,0,1,1.538-4.035A4.893,4.893,0,0,1,22.033,0h3.488V4.354H22.033a.768.768,0,0,0-.615.376,1.527,1.527,0,0,0-.274.923V7.887h4.376v4.353H21.144V22.8H16.768V12.241Z" transform="translate(-13.257)"/>
                    </svg>                      
                </i>
                Share now
            </a>
        </div>
        <div class="b-footer__card">
            <h3>Keep us running</h3>
            <p>This free online Ascii Art creator allows you to convert images to Ascii
                Art, all donations are greatly appreciated.</p>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=V4SS8WD8TJ92W&currency_code=USD" target="_blank">
                <i class="icon">
                    <svg width="18.165" height="21.236" viewBox="0 0 18.165 21.236">
                        <path
                            d="M12.745,14.5H14.7c4.252,0,6.665-1.915,7.433-5.852.025-.13.047-.255.066-.38a6.23,6.23,0,0,0,.073-.736c.007-.158.012-.251.011-.339a3.119,3.119,0,0,0-.255-1.226,4.216,4.216,0,0,0-.723-1.083,6.382,6.382,0,0,0-4.854-1.8H9.784a.955.955,0,0,0-.943.806l-1.2,7.752L6.141,21.3a.573.573,0,0,0,.566.662h3.27l1-5.95a1.782,1.782,0,0,1,1.766-1.51ZM23.485,9.09c-.934,4.449-3.961,6.81-8.784,6.81H12.745a.391.391,0,0,0-.387.333l-1.3,8.089h3.43a.835.835,0,0,0,.825-.7l.034-.177L16,19.294l.042-.229a.834.834,0,0,1,.825-.7h.519c3.362,0,5.995-1.366,6.764-5.316a4.562,4.562,0,0,0-.663-3.955Z"
                            transform="translate(-6.134 -3.085)"/>
                    </svg>
                </i>
                Donate
            </a>
        </div>
    </div>
    <div class="b-footer__copyright">
        <p>&#169; 2020 PIC2TEXT</p>
    </div>
</footer>
</div>
</div>
<!-- FOOTER END -->
<script src="public/scripts/main.js"></script>
</body>

</html>