$font-stack: 'Roboto', sans-serif;;
$font-ascii: 'monospace', sans-serif;;
$primary-color: #1a1e23;
$block-color: #2b3137;
$block-hover: #3f474e;
$accent-color: #F2166A;
$accent-color-bg: #59293b;
$accent-alert-validate: #16f25b;
$accent-alert-validate-bg: #295934;
$accent-color-shade: #a50945;
$accent-color: #F2166A;
$text-color: #c0c0c2;
$white-color: #fff;
$hover-color: #212529;
$dashed-color: #707070;
$transparent-dark: rgba(20,22,25, 0.8);